.footer {
  color: $primary-white-color;
  background-color: $footer-bg-color;
}

.footer > .container {
  @media screen and (max-width: $max-mobile) {
    height: 603px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    height: 461px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;

    height: 252px;
  }
}
