.logo {
  font-family: $logo-font;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo-web {
  color: $accent-color;
}
