.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: $max-mobile) {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    position: relative;
  }
}

.navigation-block {
  margin-left: 80px;
}

.site-nav {
  display: flex;

  & a:hover,
  a:focus {
    color: $accent-color;
  }

  & .item:not(:last-child) {
    margin-right: 50px;
  }
}

.link-page {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition-duration $timing-function;
}

.studio {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
  }
}

.studio.link-page {
  color: $accent-color;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: $max-mobile) {
    display: none;

    background-color: $primary-white-color;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    border: solid 1px salmon;

    &.is-open {
      display: block;
    }
  }
}
