// Colors
$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$primary-icons-color: #afb1b8;

// Time function
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
$main-font-size: 14px;
$main-letter-spacing: 0.03em;
